<h1 class="font-bold text-xl leading-none text-center my-8">
  {{if gt (len .RunningTasks) 1}}
    {{len .RunningTasks}} tasks running
  {{else if eq (len .RunningTasks) 1}}
    1 task running
  {{else}}
    No tasks running
  {{end}}
</h1>

{{if gt (len .RunningTasks) 0}}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-white">
            <tr>
              <th scope="col" class="px-6 py-3">Running Tasks</th>
              <th scope="col" class="px-6 py-3">Target Name</th>
              <th scope="col" class="px-6 py-3">Task Owner</th>
              <th scope="col" class="px-6 py-3">VPN Location</th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Link</span>
              </th>
            </tr>
        </thead>
        <tbody class="bg-white">
            {{range .RunningTasks}}
            <tr>
              <th  scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{.ContainerID}}</th>
              <td class="px-6 py-4">{{.TargetName}}</td>
              <td class="px-6 py-4">{{.TaskOwner}}</td>
              <td class="px-6 py-4">{{.VPNRegion}}</td>
              <td class="px-6 py-4 text-right">
                <a href="{{.URL}}" class="font-medium text-blue-600 hover:underline">View Logs</a>
              </td>
            </tr>
            {{end}}
        </tbody>
    </table>
  </div>
{{end}}