{{define "header"}}
<header class="bg-[#FEFEFE] my-8 rounded-lg border-solid border-gray-300 drop-shadow-md">
    <nav class="h-12 flex justify-center items-center">
      <ul class="flex space-x-16 text-sm">
        <li><a href="/" class="hover:text-gray-600">Home</a></li>
        <li><a href="/tasks" class="hover:text-gray-600">Tasks</a></li>
        <li><a href="/downloads" class="hover:text-gray-600">Download reviews</a></li>
        <li><a href="mailto:support@algo7.tools" class="hover:text-gray-600">Contact</a></li>
      </ul>
    </nav>
</header>
{{end}}