name: Build & Push [Scraper]
on:
  push:
    branches:
      - main
    paths:
      - 'scraper/**'
      - '.github/workflows/ci_scraper.yml'

# Global variables
env:
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

# Jobs
jobs:
  # Continuous integration
  Build_Scraper:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      # Clone the repo
      - name: Check Out Repo
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './scraper/go.mod'
          cache-dependency-path: './scraper/go.sum'
      - run: go version

      - name: Build Go Application
        working-directory: './scraper'
        run: make build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to GitHub Container Registry
      - name: Registry Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./scraper
          platforms: linux/amd64
          tags: ghcr.io/${{ github.actor }}/tripadvisor-review-scraper/scraper:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
