name: Build & Push [VPN Worker]
on:
  push:
    branches:
      - main
    paths:
      - 'proxy_pool/**'

# Global variables
env:
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

# Jobs
jobs:
  # Continuous integration
  Build_VPN_Worker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      # Clone the repo
      - name: Check Out Repo
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to GitHub Container Registry
      - name: Registry Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./proxy_pool
          platforms: linux/amd64
          tags: ghcr.io/${{ github.actor }}/tripadvisor-review-scraper/vpn_worker:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
